@import "tailwindcss";

@theme {
	--font-sans: var(--font-geist-sans);
	--color-background: #ffffff;
	--color-foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

body {
	color: var(--color-foreground);
	background: var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
}

.text-fluid {
	font-size: min(170px, 13vw);
}
